.commonLi {
  display: grid;
  grid-template: repeat(2, auto) / repeat(2, auto);
  row-gap: 1.6rem;

  padding: 2.4rem;

  background-color: white;
  border-radius: 1rem;
}
.commonLi:hover .haveTitle {
  color: hsl(230, 76%, 59%);
}

.statusLi {
  position: relative;
}

.liBorder {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 0.6rem;

  border-radius: 0.5rem 0.5rem 0 0;
}

.commonContent {
  display: flex;
  flex-direction: column;
  row-gap: 0.8rem;

  grid-column: 1 / 3;
}

.sugContent {
  grid-row: 1 / 2;
}

.statusContent {
  grid-row: 2 / 3;
}

.commonText {
  display: flex;
  flex-direction: column;
  row-gap: 0.9rem;
}

.commonText h3 {
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 1.9rem;
  letter-spacing: -0.02rem;
  color: var(--indigo);
}

.commonText p {
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.9rem;
  color: var(--light-gray);
}

.sugCatCon {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--dark-white);
  border-radius: 1rem;

  padding: 0 1.6rem;
  width: fit-content;
  height: 3rem;
}

.sugCatCon p {
  text-align: center;
  color: var(--blue);

  font-size: 1.3rem;
  font-weight: 600;
  line-height: 1.9rem;
}

.commentContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 0.4rem;

  justify-self: end;
}

.commentNum {
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 1.9rem;
  letter-spacing: -0.02rem;
  color: var(--indigo);
}

/* tablet */
@media only screen and (min-width: 40em) {
  .sugLi {
    grid-template: repeat(1, auto) / minmax(auto, 8rem) repeat(2, auto);
    row-gap: 0;

    padding: 2.8rem 3.2rem;
  }
  .statusLi {
    padding: 2.4rem 2rem;
  }
  .sugContent {
    grid-column: 2 / 3;
    row-gap: 1.2rem;
  }
  .statusContent {
    row-gap: 2.4rem;
  }
  .sugText {
    row-gap: 0.4rem;
  }
  .sugText h3 {
    font-size: 1.8rem;
    line-height: 2.6rem;
    letter-spacing: -0.025rem;
  }
  .sugText p {
    font-size: 1.6rem;
    line-height: 2.3rem;
  }
  .suggestionCat {
    margin: 0;
  }
  .commentContainer {
    column-gap: 0.8rem;
  }
}

/* desktop */
@media only screen and (min-width: 82em) {
  .statusLi {
    grid-template: auto auto 0 auto / repeat(2, auto);

    padding: 3.2rem;
    row-gap: 0.8rem;
  }
  .statusComCon {
    grid-row: 4 / 5;
  }
  .statusContent {
    row-gap: 1.6rem;
  }
  .statusText {
    row-gap: 0.4rem;
  }
  .statusText h3 {
    font-size: 1.8rem;
    line-height: 2.6rem;
    letter-spacing: -0.025rem;
  }
  .statusText p {
    font-size: 1.6rem;
    line-height: 2.3rem;
  }
}
