.detailMain {
  display: flex;
  flex-direction: column;
  row-gap: 2.4rem;
}

.card {
  display: flex;
  flex-direction: column;
  row-gap: 2.4rem;
  padding: 2.4rem;
}

.card h4 {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 2.6rem;
  letter-spacing: -0.025rem;
  color: var(--indigo);
}

/* tablet */
@media only screen and (min-width: 40em) {
  .card {
    display: flex;
    flex-direction: column;
    row-gap: 2.8rem;
    padding: 2.4rem 3.2rem 3.2rem;
  }

  .card h4 {
    margin-bottom: -0.4rem;
  }
}
