.sideBoard {
  position: absolute;
  top: 7.2rem;
  right: 0;

  z-index: 1;

  width: 27.1rem;
  height: calc(100% - 7.2rem);

  background-color: var(--light-white);

  display: flex;
  flex-direction: column;
  row-gap: 2.4rem;

  padding: 2.4rem;
}

.roadHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.roadmapH2 {
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.6rem;
  letter-spacing: -0.025rem;
  color: var(--indigo);
}

.roadViewLink {
  font-weight: 600;
  font-size: 1.3rem;
  line-height: 1.9rem;
  color: var(--blue);
}

.roadViewLink:hover {
  color: hsla(230, 89%, 74%, 1);
}
