.board {
  background-image: url("../../assets/suggestions/mobile/background-header.png");
  background-size: cover;
  background-repeat: no-repeat;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding: 1.55rem 2.4rem;
}

.text {
  display: flex;
  flex-direction: column;

  color: white;
}

.text h1 {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 2.2rem;
  letter-spacing: -0.02rem;
}

.text p {
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 1.9rem;

  opacity: 0.75;
}

.menuIcon {
  margin: 1rem;

  cursor: pointer;
}
