.feedbackBtn {
  border-radius: 1rem;
  background-color: var(--purple);

  width: 13.4rem;
  height: 4rem;
}

.feedbackBtnText {
  font-size: 1.3rem;
  font-weight: 600;
  line-height: 1.9rem;
  color: var(--dark-white);
}

.feedbackBtn:hover {
  background-color: hsl(282, 90%, 66%);
}

/* tablet */
@media only screen and (min-width: 40em) {
  .feedbackBtn {
    width: 15.8rem;
    height: 4.4rem;
  }

  .feedbackBtnText {
    font-size: 1.4rem;
    line-height: 2rem;
  }
}
