.editMain {
  display: flex;
  flex-direction: column;
  row-gap: 2.4rem;

  padding: 4.4rem 2.4rem 2.4rem;

  background-color: white;
  border-radius: 1rem;
}

.editMain h2 {
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.6rem;
  letter-spacing: -0.025rem;
  color: var(--indigo);
}

/* tablet */
@media only screen and (min-width: 40em) {
  .editMain {
    row-gap: 7.5rem;

    padding: 5.2rem 4.2rem 4rem;
  }

  .editMain h2 {
    font-size: 2.4rem;
    line-height: 3.5rem;
    letter-spacing: -0.033rem;
    color: var(--indigo);
  }
}
