.roadmapHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  padding: 2.6rem 2.4rem;

  background-color: var(--dark-indigo);
}

.headerLeftCon {
  display: flex;
  flex-direction: column;

  row-gap: 0.3rem;
}

.headerLeftCon h1 {
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.6rem;
  letter-spacing: -0.025rem;
  color: white;
}

.main {
  display: flex;
  flex-direction: column;
  row-gap: 2.4rem;

  padding: 2.4rem 2.4rem 9.8rem;
}

.mainHeading {
  display: flex;
  flex-direction: column;
  row-gap: 0.4rem;
}

.mainHeading h2 {
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.6rem;
  letter-spacing: -0.025rem;
  color: var(--dark-indigo);
}
.mainHeading p {
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 1.9rem;
  color: var(--light-gray);
}
