.sugMain {
  width: 100%;
}

.side {
  z-index: 1;
  position: absolute;
  right: 0;
  width: 27.1rem;
  top: 0;
  bottom: 0;
}

/* tablet */
@media only screen and (min-width: 40em) {
  .sugHeader {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1rem;
  }

  .sugMain {
    display: flex;
    flex-direction: column;
    row-gap: 2.4rem;
  }
}

/* desktop */
@media only screen and (min-width: 82em) {
  .sugHeader {
    display: flex;
    flex-direction: column;
    row-gap: 2.4rem;

    width: 25.5rem;
  }

  .sugMain {
    max-width: 82.5rem;
  }
}
