.emptyText {
  display: flex;
  flex-direction: column;
  row-gap: 1.4rem;

  margin-top: 3.9rem;
  margin-bottom: 2.4rem;
}

.emptyText h1 {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 2.6rem;
  letter-spacing: -0.025rem;

  color: var(--indigo);
}

.emptyText p {
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.9rem;

  color: var(--light-gray);
}

.side {
  z-index: 1;
  position: absolute;
  right: 0;
  width: 27.1rem;
  top: 0;
  bottom: 0;
}

/* tablet */
@media only screen and (min-width: 40em) {
  .TDHeader {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1rem;
  }
}

/* desktop */
@media only screen and (min-width: 90em) {
  .TDHeader {
    display: flex;
    flex-direction: column;
    row-gap: 2.4rem;

    width: 25.5rem;
  }
}
