.board {
  background-image: url("../../assets/suggestions/mobile/background-header.png");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: initial;

  display: grid;
  grid-template: repeat(2, auto) / repeat(2, auto);
  justify-content: space-between;
  align-items: center;
  padding: 1.55rem 2.4rem;

  color: white;

  position: relative;
}

.boardZIndex {
  z-index: 2;
}

.board h1 {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 2.2rem;
  letter-spacing: -0.02rem;
}

.board p {
  grid-row: 2;

  font-size: 1.3rem;
  font-weight: 500;
  line-height: 1.9rem;

  opacity: 0.75;
}

/* tablet */
@media only screen and (min-width: 40em) {
  .sugHeader {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1rem;
  }

  .board {
    background-image: url("../../assets/suggestions/tablet/background-header.png");

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: initial;

    padding: 2.4rem;

    border-radius: 1rem;
  }

  .board h1 {
    font-size: 2rem;
    line-height: 2.9rem;
    letter-spacing: -0.025rem;
  }

  .board p {
    font-size: 1.5rem;
    line-height: 2.2rem;
  }
}

/* desktop */
@media only screen and (min-width: 82em) {
  .sugHeader {
    display: flex;
    flex-direction: column;
    row-gap: 2.4rem;

    width: 25.5rem;
  }

  .board {
    background-image: url("../../assets/suggestions/desktop/background-header.png");

    height: 13.7rem;
  }

  .board h1 {
    font-size: 2rem;
    line-height: 2.9rem;
    letter-spacing: -0.025rem;
  }

  .board p {
    font-size: 1.5rem;
    line-height: 2.2rem;
  }
}
