.sugMain {
  display: flex;
  flex-direction: column;
  width: 100%;
}

/* tablet */
@media only screen and (min-width: 40em) {
  .sugMain {
    row-gap: 2.4rem;
  }
}

/* desktop */
@media only screen and (min-width: 82em) {
  .sugMain {
    max-width: 82.5rem;
  }
}
