.commentCon {
  display: flex;
  flex-direction: column;
  row-gap: 1.6rem;
}

.hasReplies {
  margin-left: 2.4rem;
}

/* tablet */
@media only screen and (min-width: 40em) {
  .commentCon {
    row-gap: 1.7rem;
  }

  .hasReplies {
    margin-left: 11.7rem;
  }
}
