.commentsCon {
  display: flex;
  flex-direction: column;
  row-gap: 2.4rem;
}

.commentBorder {
  padding-top: 2.4rem;

  border-top: 0.1rem solid hsla(231, 20%, 63%, 25%);
}

/* tablet */
@media only screen and (min-width: 40em) {
  .commentsCon {
    row-gap: 3.2rem;
  }

  .commentBorder {
    padding-top: 3.2rem;
  }
}
