.main {
  display: flex;
  flex-direction: column;
  row-gap: 5.5rem;
}

.feedbackForm {
  display: flex;
  flex-direction: column;
  row-gap: 4rem;
}

.formText h2 {
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.6rem;
  letter-spacing: -0.025rem;
  color: var(--indigo);
}

.formText {
  display: flex;
  flex-direction: column;
  row-gap: 2.4rem;
}
