.roadmapHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding: 2.6rem 2.4rem;

  background-color: var(--dark-indigo);
}

.headerLeftCon {
  display: flex;
  flex-direction: column;
  row-gap: 0.3rem;
}

.headerLeftCon h1 {
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.6rem;
  letter-spacing: -0.025rem;
  color: white;
}

/* tablet */
@media only screen and (min-width: 40em) {
  .roadmapHeader {
    padding: 2.7rem 3.2rem;

    border-radius: 1rem;
  }
  .headerLeftCon {
    row-gap: 0.4rem;
  }
  .headerLeftCon h1 {
    font-size: 2.4rem;
    line-height: 3.5rem;
    letter-spacing: -0.033rem;
  }
}
