.replyForm {
  display: flex;
  flex-direction: row;
  column-gap: 1.6rem;
}

.replyForm textarea {
  flex: 1;
}

.postReplyBtn {
  background-color: var(--purple);
  border-radius: 1rem;

  font-weight: 700;
  font-size: 1.3rem;
  line-height: 1.9rem;
  color: var(--dark-white);

  height: 4rem;
  width: 9.7rem;
}

.postReplyBtn:hover {
  background-color: hsl(282, 90%, 66%);
}

.postReplyBtn:disabled {
  background-color: hsl(0, 0%, 70%);
  cursor: not-allowed;
}

/* tablet */
@media only screen and (min-width: 40em) {
  .replyForm {
    margin-top: 0.7rem;
    margin-left: 7.2rem;
  }
  .postReplyBtn {
    font-size: 1.4rem;
    line-height: 2rem;

    height: 4.4rem;
    width: 11.7rem;
  }
}
