.roadmapLi {
  padding: 2rem 0;

  font-weight: 700;
  font-size: 1.3rem;
  line-height: 1.9rem;
  letter-spacing: -0.018rem;
  color: hsla(230, 31%, 31%, 0.4);

  cursor: pointer;
  text-align: center;
}
