.board {
  background-image: url("../../assets/suggestions/mobile/background-header.png");
  background-size: cover;
  background-repeat: no-repeat;

  padding: 1.55rem 2.4rem;

  /* font */
  color: white;
}

.board h1 {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 2.2rem;
  letter-spacing: -0.02rem;
}

.board p {
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 1.9rem;

  opacity: 0.75;
}
