.replyForm {
  display: flex;
  flex-direction: row;
  column-gap: 1.6rem;
}

.replyForm textarea {
  flex: 1;
}

/* tablet */
@media only screen and (min-width: 40em) {
  .replyForm {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
  }
}
