.leftBorder {
  position: absolute;
  top: 0;
  left: -2.4rem;
  width: 0.1rem;
  background-color: hsla(224, 20%, 49%, 0.1);
}

.repliesUl {
  margin-left: 2.4rem;

  position: relative;

  display: flex;
  flex-direction: column;
  row-gap: 2.6rem;
}
