@import url("https://fonts.googleapis.com/css2?family=Jost:wght@300;400;600;700&display=swap");

:root {
  --purple: hsl(282, 83%, 52%);
  --blue: hsl(230, 76%, 59%);
  --dark-indigo: hsl(230, 31%, 31%);
  --dark-white: hsl(231, 100%, 97%);
  --light-white: hsl(230, 60%, 98%);
  --indigo: hsl(231, 33%, 34%);
  --light-gray: hsl(224, 20%, 49%);
  --scarlet: hsl(14, 83%, 74%);
  --light-blue: hsl(204, 94%, 68%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-block-start: 0;
  padding-block-end: 0;
  padding-inline-start: 0;
  padding-inline-end: 0;
}

html {
  font-size: 62.5%;
  font-family: "Jost", sans-serif;
}

button {
  font-size: inherit;
  font-family: inherit;
  border: none;
  background: none;

  cursor: pointer;
}

ul,
li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

body {
  width: 100%;
  min-height: 100vh;
  position: relative;

  background-color: var(--light-white);
}

input,
textarea {
  font-family: inherit;
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 1.9rem;
  color: var(--indigo);

  background-color: var(--light-white);
  border-radius: 0.5rem;
  border: none;
  resize: none;
}

input {
  padding: 1.4rem 1.6rem;
}

textarea {
  padding: 1.6rem;
}

input:focus,
textarea:focus {
  outline: 0.1rem solid var(--blue);
}

input::placeholder,
textarea::placeholder {
  font-family: "Jost", sans-serif;
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 1.9rem;
  color: hsl(231, 20%, 63%);
}

label {
  display: flex;
  flex-direction: column;
  row-gap: 0.3rem;

  font-weight: 700;
  font-size: 1.3rem;
  line-height: 1.9rem;
  letter-spacing: -0.018rem;
  color: var(--indigo);
}

label p {
  font-weight: 400;
  letter-spacing: 0;
  color: var(--light-gray);
}

.detailBody,
.newBody,
.editBody {
  padding: 2.4rem;
}

.detailBody {
  display: flex;
  flex-direction: column;
  row-gap: 2.4rem;
}

.newBody,
.editBody {
  display: flex;
  flex-direction: column;
  row-gap: 5.5rem;
}

/* tablet */
@media only screen and (min-width: 40em) {
  body {
    display: flex;
    justify-content: center;
  }

  #root {
    padding: 5.6rem 4rem;
  }

  .sugBody,
  .detailBody,
  .roadBody {
    width: 76.9rem;
  }

  .sugBody {
    display: flex;
    flex-direction: column;
    row-gap: 4rem;
  }

  .newBody,
  .editBody {
    row-gap: 6.8rem;

    width: 62rem;
  }

  .roadBody {
    display: flex;
    flex-direction: column;
    row-gap: 3.2rem;
  }

  input,
  textarea {
    font-size: 1.5rem;
    line-height: 2.2rem;
  }

  label {
    font-size: 1.4rem;
    line-height: 2rem;
  }
}

/* desktop */
@media only screen and (min-width: 82em) {
  #root {
    max-width: none;

    padding: 9.2rem 0;
  }

  .sugBody {
    flex-direction: row;
    column-gap: 3rem;

    width: 111rem;
  }

  .detailBody {
    width: 73rem;
  }

  .newBody,
  .editBody {
    width: 54rem;
  }

  .roadBody {
    row-gap: 4.8rem;
    width: 111rem;
  }
}
