.replyCon {
  display: flex;
  flex-direction: column;
  row-gap: 1.6rem;
}

.replyText {
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 1.9rem;
  color: var(--light-gray);
}

.replyText span {
  font-weight: 700;
  color: var(--purple);
}

/* tablet */
@media only screen and (min-width: 40em) {
  .replyText {
    margin-left: 7.2rem;
  }
}
