.roadHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.roadmapH2 {
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.6rem;
  letter-spacing: -0.025rem;
  color: var(--indigo);
}

.roadViewLink {
  font-weight: 600;
  font-size: 1.3rem;
  line-height: 1.9rem;
  color: var(--blue);
}

.roadViewLink:hover {
  color: hsla(230, 89%, 74%, 1);
}
