.commentH4 {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 2.6rem;
  letter-spacing: -0.025rem;
  color: var(--indigo);
}

/* tablet */
@media only screen and (min-width: 40em) {
  .commentH4 {
    margin-bottom: -0.4rem;
  }
}
