.feedbackBtn {
  border-radius: 1rem;
  background-color: var(--purple);

  width: 13.4rem;
  height: 4rem;
}

.feedbackBtnText {
  text-decoration: none;
  color: var(--dark-white);

  font-size: 1.3rem;
  font-weight: 600;
  line-height: 1.9rem;
}

.feedbackBtn:hover {
  background-color: hsl(282, 90%, 66%);
}
