.replyForm {
  display: flex;
  flex-direction: row;
  column-gap: 1.6rem;
}

.replyForm textarea {
  flex: 1;
}

.commentForm {
  display: flex;
  flex-direction: column;
  row-gap: 1.6rem;
}

.commentForm textarea {
  height: 8rem;
}

.formBtn {
  background-color: var(--purple);
  border-radius: 1rem;

  font-weight: 700;
  font-size: 1.3rem;
  line-height: 1.9rem;
  color: var(--dark-white);

  height: 4rem;
}

.formBtn:hover {
  background-color: hsl(282, 90%, 66%);
}

.formBtn:disabled {
  background-color: hsl(0, 0%, 70%);
  cursor: not-allowed;
}

.postReplyBtn {
  width: 9.7rem;
}

.postCommentBtn {
  width: 11.9rem;
}

.commentFooter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.commentFooter p {
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 1.9rem;
  color: var(--light-gray);
}

/* tablet */
@media only screen and (min-width: 40em) {
  .replyForm {
    margin-top: 0.7rem;
    margin-left: 7.2rem;
  }
  .postReplyBtn {
    font-size: 1.4rem;
    line-height: 2rem;

    height: 4.4rem;
    width: 11.7rem;
  }
}
