.decoCon {
  display: flex;
  flex-direction: row;
  align-items: center;

  grid-column: 1 / 3;
  grid-row: 1 / 2;

  column-gap: 0.8rem;
}

.navCon {
  column-gap: 1.6rem;
}

.circle {
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
}

.decoCon p {
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 1.9rem;
  color: var(--light-gray);
}

.navCon p {
  font-size: 1.6rem;
  line-height: 2.3rem;
}

.plannedColor {
  background-color: var(--scarlet);
}
.in-progressColor {
  background-color: var(--purple);
}
.liveColor {
  background-color: var(--light-blue);
}
